always-auth=true
_password=${NPM_AUTH_KEY}
username=${NPM_AUTH_USER}
email=${NPM_AUTH_EMAIL}

@screens-cloud:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-aemscreens-release-local/
@adobe:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/

//registry.npmjs.org/:always-auth=false

message='RELENG-0 - Release of version %s [ci skip]'
